rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper pour vérifier si l'utilisateur est connecté
    function isSignedIn() {
      return request.auth != null;
    }

    // 1. TRANSACTIONS (Historique des paiements)
    match /transactions/{txnId} {
      // Le client peut créer une demande, mais ne peut JAMAIS modifier le statut lui-même
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if false; // SEUL LE BACKEND (Node.js) PEUT MODIFIER
    }

    // 2. WALLETS (Portefeuilles Livreurs)
    match /wallets/{driverId} {
      // Le livreur peut VOIR son solde
      allow read: if isSignedIn() && request.auth.uid == driverId;
      // PERSONNE ne peut modifier son solde depuis le téléphone (Ni ajout, ni retrait)
      allow write: if false; 
    }

    // 3. COMMANDES
    match /orders/{orderId} {
      allow create: if isSignedIn();
      allow read: if isSignedIn();
      // Un livreur peut accepter une course (update driverId) mais pas changer le prix
      allow update: if isSignedIn() 
                    && (request.resource.data.amount == resource.data.amount); 
    }
  }
}